.container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content:center ;
    
    gap: 5px;
    
}
.item{
    border: 2px solid dodgerblue;
    font-size: 18px;
    padding: 5px;
    border-radius: 6px;
}